


<div class="container">
    <div class="card">
        <div class="card-header" >
            <h4>Thêm mới danh mục sản phẩm</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form method="POST" action="/Category/AddCategory">
                        <div class="mb-3">
                            <label>Tên</label>
                            <input type="text" name="Name" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label>Tạo bởi</label>
                            <input type="text" name="CreatBy" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Thêm" />
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
